<div class="content" >
    <div class="shortBio" >
        <h1>Short bio</h1>
        <p>Hy my name is Dumitriu Ionut and I am 30 years old.</p>
        <p>I live in Romania in Iasi. I've been living here for the past 10 years.</p>
        <p>I attended biology coledge but had to stop due to my financial situation and have been working in
            sales
            last
            4 years of which i worked for a large retailer LIDl. </p>
        <p>My experience with the company was nice as I had room to grow ,but left me thinking I could improve
            much
            more
            than was possible there.</p>
        <p>My current gowl is to learn and use as much as possible from the curse I attended at
            https://sdacademy.ro/
            this site being a work in progress I hope you will enjoy.</p>
    </div>
    <div class="nav-link" routerLink=".." routerLinkActive="active-link">
        <div class="mainTitle">
            <div>Back</div>
        </div>
    </div>
</div>
