<nav class="navbar">
    <div class="container">
        <div class="brand">Dumitriu Theodor Ionut</div>
        <div class="buttons">
            <div class="home" (mouseover)="highLight=true" (mouseleave)="highLight=false">
                <div class="nav-link active" routerLink="" routerLinkActive="active-link"
                    [routerLinkActiveOptions]='{exact:true}'>Home</div>
            </div>
            <div class="myWork">
                <div class="nav-link" routerLink="my-work" routerLinkActive="active-link">My work</div>
            </div>
            <div class="contactMe">
                <div class="nav-link" routerLink="contact-me" routerLinkActive="active-link">Contact me</div>
            </div>
        </div>
    </div>
</nav>