<div class="footer">
    <div class="foorerContent">
        <div class="brand">Dumitriu Theodor Ionut</div>
        <div class="links">
            <a routerLink="">home</a>
            <a routerLink="my-work">my work</a>
            <a routerLink="contact-me">contact</a>
            <a routerLink="my-work-extend">inactive</a>
        </div>
        <div class="socials">
            <div>FB</div>
            <div>LI</div>
            <div>WASSAp</div>
        </div>
    </div>
    <div class="copyright">
        &copy; dumitriuionut.ro | Designed by Dumitriu Ionut
    </div>
</div>