<div class="footer">
    <div class="footerContent">
        <div class="brand">Dumitriu Theodor Ionut</div>
        <div class="links">
            <div routerLink="">Home</div>
            <div routerLink="my-work">My work</div>
            <div routerLink="contact-me">Contact me</div>
        </div>
        <div class="socials">
            <img src="../../../assets/images/fb.png">
            <img  src="../../../assets/images/in.png">
            <img src="../../../assets/images/wassap.png">
        </div>
    </div>
    <div class="copyright">
        &copy; dumitriuionut.ro | Designed by Dumitriu Ionut
    </div>
</div>