<div class="content">
    <div class="whoAmI">
        <h1>Who am I?</h1>
        <p>I am a junior front-end developer looking to work on my career in software development.</p>
        <p>After graduating software development course provided by https://sdacademy.ro/, I can say I'm ready
            to
            use my
            skills, which involve the following technologies:</p>
        <ul>
            <li>html, css, js</li>
            <li>boostrap</li>
            <li>material</li>
            <li>angular</li>
        </ul>
    </div>
    <div class="nav-link" routerLink=".." routerLinkActive="active-link">
        <div class="mainTitle">
            <div>Back</div>
        </div>
    </div>
</div>