<div class="content">
    <div class="myHobbies">
        <h1>Some of my hobbies</h1>
        <p>I am a strong believer in the fact that we can get to know people better understanding what they
            like, so
            heres a short list on my hobbies: </p>
        <ul>
            <li>reading and listening to podcasts, I find that its the best way to improve in general</li>
            <li>tech is a subject I love to always keep up with, always looking for new features</li>
            <li>music is the best way I find to relax and reset my self</li>
            <li>traveling to new places has to be the most enjoyable experience</li>
        </ul>
    </div>
    <div class="nav-link" routerLink=".." routerLinkActive="active-link">
        <div class="mainTitle">
            <div>Back</div>
        </div>
    </div>
</div>