.container {
    z-index: -1;
    height: 100%;
    width: 100%;
    font-family: 'Main Font';
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.content {
    font-size: medium;
    border: 2px solid black;
}

.mainTitle div {
    color: black;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 0px #efa032;
    margin: 20px;
}

.mainTitle div:hover {
    text-shadow: 5px 5px 0px red;
}


@media only screen and (min-width: 320px) and (max-width:480px) {
    .container {
        font-size: 40px;
        justify-content: center;
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .container {
        font-size: 60px;
        width: auto;
        justify-content: center;
    }
}

@media only screen and (min-width: 769px) and (max-width:2000px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
    }
}