<div class="container">
    <div class="nav-link" routerLink="who-am-i" routerLinkActive="active-link">
        <div class="mainTitle">
            <div>Who am I?</div>
        </div>
    </div>
    <div class="nav-link" routerLink="hobbies" routerLinkActive="active-link">
        <div class="mainTitle">
            <div>Some of my hobbies</div>
        </div>
    </div>
    <div class="nav-link" routerLink="short-bio" routerLinkActive="active-link">
        <div class="mainTitle">
            <div>Short bio</div>
        </div>
    </div>
</div>